.header {
    border: 12px solid black; 
    color: red; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.footer {
    border: 8px solid red; 
    color: black; 
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0; 
    width: 99%; 
}

.navbar {
    border: 4px solid black;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.sidebar {
    border: 3px solid blue;
    color: purple; 
    width: 20vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.game-container {
border: 5px solid gray;
position: relative; 
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.description-container {
    border: 2px solid red;
    position: static;
    display: inline-flex;
    justify-content: right;
    height: 100px;
    overflow: hidden;
    overflow-y: scroll;
}

.thumb {
    height: 100px
}

.thumb-show {
    height: 300px
}

.allgames-container {
    border: 4px solid yellow;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: center;
    overflow: hidden;
    overflow-y: scroll;
}